:root{
    --primary-color: #d0d1d2;
    --secondary-color: #266bff;
    --primary-border-radius:8px;
    --primary-border-style: 1px solid var(--primary-color);
    --primary-font-size: 16px;
    --secondary-font-size: 22px;
    --tertiary-font-size: 17px;
    --primary-font-style:'Roboto', sans-serif;
}
.container{
    width: 81%;
    height: 400px;
    display:flex;
    align-items: flex-end;
}
.texto{
    display: flex;
    flex-direction: column;
}
h2{
    height: 50%;
    width: 60%;
    font-size: 150%;
    padding-bottom: 15%;
}
fieldset{
    width: 350px;
    height: 300px;
    padding-top: 4%;
    padding-left: 4%;
    color: var(--primary-color);
    background-color: #ffffff;
    border: var(--primary-border-style);
    border-radius: var(--primary-border-radius);
    box-shadow: 3px 3px 3px var(--primary-color);
}
#email{
    height: 16%;
    width: 93%;
    margin-bottom: 3%;
    padding-left: 5%;
    border: var(--primary-border-style);
    border-radius: var(--primary-border-radius);
    font-size: var(--primary-font-size);
}
#senha{
    height: 16%;
    width: 93%;
    margin-bottom: 3%;
    padding-left: 5%;
    border: var(--primary-border-style);
    border-radius: var(--primary-border-radius);
    font-size: var(--primary-font-size);
}
#button1{
    height: 17%;
    width: 94%;
    margin-top: 1%;
    border: var(--primary-border-style);
    color: #ffffff;
    background-color: var(--secondary-color);
    border-radius: var(--primary-border-radius);
    font-size: var(--secondary-font-size);
    font-family: var(--primary-font-style);
    cursor: pointer;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 2%;
    color:var(--secondary-color);
    font-size: var(--tertiary-font-size);
    cursor: pointer;
}
.botao2{
    display: flex;
    justify-content: center;
    height: 15%;
    padding-bottom: 4%;
}
#button2{
    width: 50%;
    border: var(--primary-border-style);
    color: #ffffff;
    background-color: #1ccd2a;
    border-radius: var(--primary-border-radius);
    font-size: var(--tertiary-font-size);
    font-family: var(--primary-font-style);
    cursor: pointer;
}