:root {
    --primary-color: rgb(226, 224, 224);
    --secondary-color: rgb(0, 119, 255);
}

#section-1 {
    height: 500px;
    background-color: var(--primary-color);
}

#section-2 {
    background-color: var(--primary-color);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: var(--primary-color);
    flex-direction: column;
}

.linha-favoritos {
    outline: 1px solid rgb(63, 59, 59);
    width: 75vw;
    height: 235px;
    border-radius: 20px;
    margin: auto;
}

.p-favorito {
    font-size: 24px;
    height: 30px;
    width: 500px;
    color: rgb(63, 59, 59);
    margin-right: 640px;
    margin-bottom: 1px;
}

.nav-favorito {
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.img-a {
    border-radius: 15px;
    margin-top: 15px;
    width: 130px;
}

.a-1 {
    grid-area: a-1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.p-populares {
    font-size: 22px;
    height: 40px;
    width: 400px;
    color: rgb(63, 59, 59);
    margin-bottom: 5px;
    border: none;
    margin-right: 840px;
}

#livros{
    width: 1265px;
    height: 450px;
    display: flex;
    justify-content: space-between;  
    overflow: hidden;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

#livros div {
    width: 250px;
    height: 450px;
    background-color: white;
    border-color: rgb(63, 59, 59);
    border: none;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 2px;
}


.a-saiba-mais {
    border: 1.7px solid black;
    height: 50px;
    width: 85%;
    border-radius: 6px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .p-saiba-mais {
    color: black;
    padding-top: 10px;
    font-size: 12px;
}

.a-saiba-mais:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 0.7s all;
}

