:root {
    --primary-color: rgb(226, 224, 224);
    --secondary-color: rgb(0, 119, 255);
}

main {
    animation: Lado 2s forwards;
}

@keyframes Lado {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: 0px;
    }
}

#section-1 {
    height: 550px;
    background-color: var(--primary-color);
    z-index: 9;
}

#section-2 {
    background-color: var(--primary-color);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    background-color: var(--primary-color);
    flex-direction: column;
}

#section-3 #livros{
    overflow: scroll;
    overflow-y: hidden;
}

.linha-favoritos {
    outline: 1px solid rgb(63, 59, 59);
    width: 75vw;
    height: 235px;
    border-radius: 20px;
    margin: auto;
}

.p-favorito {
    font-size: 24px;
    height: 30px;
    width: 500px;
    color: rgb(63, 59, 59);
    margin-right: 640px;
    margin-bottom: 1px;

}

.nav-favorito {
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 10;
}

/* .linha-favorito {
    position: absolute;
    width: 1000px;
    height: 40px;
    background-color: black;
    margin-top: 105px;
    z-index: 1;
} */

.img-a {
    border-radius: 15px;
    width: 160px;
    z-index: 2;
    border: 6px solid black;
    background-color: white;
}

.a-1 {
    width: 20px;
}

.p-populares {
    font-size: 22px;
    height: 40px;
    width: 400px;
    color: rgb(63, 59, 59);
    margin-bottom: 5px;
    border: none;
    margin-right: 840px;
}

#livros{
    width: 1265px;
    display: flex;
    justify-content: space-between;  
    overflow: hidden;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    gap: 1px;
}

#livros div {
    width: 252px;
    height: 420px;
    background-color: white;
    border-color: rgb(63, 59, 59);
    border: none;
    border-radius: 1px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    flex-direction: column;
    flex-shrink: 0;
}


.a-saiba-mais {
    display: flex;
    justify-content: space-around;
    padding-top: -5px;
    height: 50px;
    width: 40%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

div .p-saiba-mais {
    color: black;
    padding-top: 10px;
    font-size: 12px;
    border-radius: 6px;
    margin-right: 100%;
    padding-left: 1rem;
}
.p-saiba-mais-heart{
    color: black;
    padding-top: 10px;
    font-size: 12px;
    border-radius: 6px;   
    margin-left: 30%;
    padding-right: 1rem; 
}

.a-saiba-mais:hover {
    cursor: pointer;
} 

.anuncio-1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    .a-anuncio-1 {
        width: 130px;
    }

    .p-anuncio-1 {
        height: 35px;
        line-height: 20px;
        margin-top: 10px;
        font-size: 16px;
        color: black;
        font-weight: 700;
        text-align: center;
    }

    

.estrela-anuncio-1 {
    width: 100px;
    margin-right: 110px;
}

.preco-del-1 {
    align-self: flex-start;
    margin-left: 22px;
}

.preco-h2-1 {
    font-size: 26px;
    font-weight: 700;
    margin-right: 110px;
}

.carrinho_preco_h2{
    display: flex;
    justify-content: space-between;
}
.carrinho_img_preco_h2{
    width: 25px;
    height: 25px;
}