.body1{
    margin:0;
}
a{
    text-decoration: none;
}
.header1{
    background-color: blue;
    padding: 10px;
}
.btn-abrir{
    color: white;
    font-size: 25px;
}  
.quantidade_img{
    display: flex;
    margin-bottom: 10px;
}
.quantidade_carrinho{
    display: flex;
}
.img_sidebar{
    width: 110px;
    height: 150px;
}
.nav1{
    height: 100%;
    width: 0px;
    background-color: blue;
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: hidden faz com q o elemento filho fique escondido toda vez q ultrapassar a largura ou altura do elemento pai */
    transition: width 0.5s;
}
.preco_carrinho_sidebar{
    color: white;
    margin: 50px 40px 0 10px;
}
.titulo_carrinho{
    margin-top: 25px;
    color: white;
    margin-left: 30px;
}
.quantidade_carrinho_sidebar{
    color: white;
    margin-top:50px;
}
.menos_item{
    color: white;
    margin-top:50px;
    margin-right: 10px;
    margin-left: 10px;
}
.mais_item{
    color: white;
    margin-top:50px;
    margin-left: 10px;
}
.suposto_footer{
    bottom: 0;
    right: 0;
    height: 200px;
    width: 100%;
    margin-top: 55%;
    background-color: rgb(0, 94, 245);
}
.imagem_lixo_menu{
    width: 40px;
    height: 40px;
    margin-top: 45px;
    margin-left: 10px;
}
.total_side_preco{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.total_preco_side{
    padding-top: 10px;
}
.comprar_centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 0 10px;
}
.comprar_side_menu{
    background-color: yellow;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}
.titulo_fechar{
    display: flex;
}
#fechar{
    margin-top: 37px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 115px;
}
.total_side_menu{
    color: white;
}
.total_preco_side{
    color: white;
}