.logo_menu{
    padding-bottom: 5px;
}
.a_img{
    margin-top: -5px;
}
.logo_menu{
    margin-bottom: -35px;
}
.dp-menu{
    margin-top: -8px;
}
.dp-menu ul{
    list-style-type: none;
    border-radius: 10px;
    padding: 0;
}
.dp-menu ul{
    background-color: rgb(0, 119, 255);
}
.dp-menu ul li{
    display: inline;
    position: relative;
}
.dp-menu ul li a{
    color: rgb(231, 241, 236);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right:5px;
}
.dp-menu ul ul{
    display: none;
    position: absolute;
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px
}
.dp-menu ul ul li a{
    display: block;
}