* {
    margin: 0;
    padding: 0;
}
  
a{
    color: rgb(0, 13, 255);
    text-decoration: none;
    font-size: large;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 1px solid gray;
    height: 12vh;
}
h1{
    font-family: 'Alfa Slab One', cursive;
    color: rgb(0, 13, 255);
}
.search_bar{
    background:  rgb(0, 13, 255);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .2s;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn:hover{
    cursor: pointer;
}
input::placeholder{
    color: white;
}
/* quando passar o mouse por cima do search bar, o search_text tem que ter outro estilo */
.search_bar:hover > .search_text{
    width: 240px;
}
